In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import time

In [2]:
# file
file = "2022-11-01-08-26-53_3v58.csv"
df = pd.read_csv(file, index_col=0)
sample_name = file[-22:-4]
print(sample_name)
df.head()

1-01-08-26-53_3v58

,Time,humidity,temperature,set_temperature,vpp_sum1,vpp_sum2,delay_slow,delay_fast,Ch1_word,Ch2_word,Ch1_Amp,Ch2_Amp
0,2022/11/01 08:26:44,50.0,25.1,25.0,10000.0,5000.0,3000.0,2000.0,0.0,0.0,0.0,0.0
1,2022/11/01 08:26:45,50.0,25.1,25.0,10000.0,5000.0,3000.0,2000.0,0.0,0.0,0.0,0.0
2,2022/11/01 08:26:46,50.0,25.1,25.0,10000.0,5000.0,3000.0,2000.0,0.0,0.0,0.0,0.0
3,2022/11/01 08:26:47,50.0,25.1,25.0,10000.0,5000.0,3000.0,2000.0,0.0,0.0,0.0,0.0
4,2022/11/01 08:26:48,50.0,25.1,25.0,10000.0,5000.0,3000.0,2000.0,0.0,0.0,0.0,0.0

In [3]:
time = pd.to_datetime(df["Time"])

In [4]:
time

0   2022-11-01 08:26:44
1   2022-11-01 08:26:45
2   2022-11-01 08:26:46
3   2022-11-01 08:26:47
4   2022-11-01 08:26:48
5   2022-11-01 08:26:49
6   2022-11-01 08:26:50
7   2022-11-01 08:26:51
8   2022-11-01 08:26:52
Name: Time, dtype: datetime64[ns]

In [5]:
time[5] - time[0]

Timedelta('0 days 00:00:05')

In [6]:
df = time[5] - time[0]

In [7]:
df.total_seconds()

5.0